@model LachesBrag.Models.Lanche

@{
    ViewData["Title"] = "Apagar produtos";
}

<h3>deseja reamente apagar este produto?</h3>
<div>
    <h4>Lanche - @Model.Nome</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoCurta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoCurta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricacaoDetalhada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricacaoDetalhada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemThumbnailUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemThumbnailUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LanchePreferido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LanchePreferido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LancheEmEstoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LancheEmEstoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.CategoriaNome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LancheId" />
        <input type="submit" value="Apagar produto" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a lista de produtos</a>
    </form>
</div>
