@model IEnumerable<LachesBrag.Models.Lanches>

<div>
    <h2>@ViewData["Titulo"]</h2>
</div>
<h5>@ViewData["Data"]</h5>
<hr />
<h6>@ViewBag.Total  @ViewBag.TotalLaches</h6>
@foreach(var lache in Model)
{
    <div>
        <h4>@lache.Nome</h4>
        <p><img src="@lache.ImagemUrl"></p>
        <h4>Preço : @lache.Preco.ToString("c")</h4>
    </div>
}